@import "../../app.scss";

.contact {
    height: 100%;
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile {
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }
    
    .text-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mobile {
            gap: 20px;
            text-align: center;
            align-items: center;
            margin-top: 70px;
        }

        h1 {
            font-size: 100px;
            color: #EE8B31;
            line-height: 88px;

            @include mobile {
                font-size: 36px;
            }
        }

        h2 {
            margin-bottom: -30px;
            @include mobile {
                margin-bottom: -5px;
                font-size: 26px;
                letter-spacing: normal;
            }
        }

        span {
            font-weight: 300;
        }
    }

    .form-container {
        flex: 1;
        position: relative;

        @include mobile {
            padding: 50px;
            width: 100%;
        }

        .phone-svg {
            stroke: orange;
            position: absolute;
            margin: auto;
            z-index: -1;

            @include mobile {
                margin-top: -100px;
                margin-left: -45px;
                transform: scale(0.6);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input, textarea {
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;

                &::placeholder {
                    color: orange; 
                    opacity: 0.85;
                }

                &:focus {
                    outline: none;
                    border-color: white; // Change border color
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); // White glow effect
                }

                @include mobile {
                    padding: 10px;
                }
            }

            button {
                padding: 15px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background-color: #EE8B31;
                color: white;
                font-weight: 500;
                transition: transform 0.2s ease-in-out;

                &:hover {
                    transform: translateY(-0.4rem);
                }

                &.error {
                    animation: shake 1s ease-in-out, redFlash 2s ease-in-out;
                }

                &.success {
                    animation: shake 1s ease-in-out, greenFlash 2s ease-in-out;
                }

                @include mobile {
                    padding: 10px;
                }

            }

            @keyframes shake {
                0%, 100% { transform: translateX(0); }
                25% { transform: translateX(-5px); }
                50% { transform: translateX(5px); }
                75% { transform: translateX(-5px); }
            }

            @keyframes redFlash {
                0% { background-color: red; }
                100% { background-color: #EE8B31; }
            }

            @keyframes greenFlash {
                0% { background-color: green; }
                100% { background-color: #EE8B31; }
            }
        }
        
    }
}